.field{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url(./../../assets/img/board.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardStack{
    position: relative;
    >img{
        position: absolute;
        width: 150px;
        height: auto;
    }
}

.topCard:hover{
    cursor: pointer;
    &:hover{
    scale: (1.1);
    transition: all ease-in-out 150ms;
    transform: translateY(-10px);
}}

.pickCard{
    scale: (1.5) !important;
    transition: all ease-in-out 150ms;
}